*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    margin: 0px;
    background-color: white;
    font-family: 'Dosis', sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}



.header__menu {
    position: relative;
    width: 100%;
    justify-content: center;
    padding: 0;
    box-shadow: 0 1px rgb(235, 234, 234);
}

.container__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.menu__logo {
    width: 300px;
    position: relative;
    padding: 5px 5px 5px 5px;
    margin-left: 20px;
}

.menu__logo img {
    height: 50px;
}

.menu__options {
    width: 620px;
    position: relative;
    padding: 5px 5px 5px 5px;
    margin-left: 20px;
}

.menu__nav {
    height: auto;
    display: flex;
    flex-direction: row;
    float: right;
    position: relative;
    list-style-type: none;
}


.menu__nav a {
    text-decoration: none;
    color: black;
}

.menu__nav a:hover {
    font-weight: bold;
}

.menu__nav li{
    padding: 10px 15px;
    font-size: 18px;
}

.menu__button {
    display: none;
    text-decoration: none;
    align-self: end;
}

@media screen and (max-width: 980px) {
    .menu__options {
        width: 400px;
    }
}
@media screen and (max-width: 800px) {

    .container__menu{
        width: 360px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__logo {
        width: 360px;
    }

    .menu__options {
        width: 360px;
        padding: 0;
        margin-left: 0;
    }

    .menu__button {
        display: block;
        float: right;
        margin-right: 10px;
        margin-top: -42px;
        position: relative;
        
    }

    .menu__nav {
        height: 0;
        float: left;
        display: none;

    }
}

@media screen and (max-width: 800px) {
    .menu__nav.responsive {
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

.mainSlider {
    position: relative;
    background-size: cover;
    width: 100%;
    /* margin: 60px auto 0; */
}

.sliders img {
    height: auto;
    max-width: 100%;
    
}

.sliders__caption {
    top: 50%;
    left: 0;
    vertical-align: baseline;
    position: absolute;
    text-align: center;
    width: 100%;
    /* z-index: 100; */
}


.sliders__item {
    display: none;
    -webkit-animation-name: fade-out;
	-webkit-animation-duration: 3s;
	animation-name: fade-out;
	animation-duration: 3s;
}

@-webkit-keyframes fade-out {
	from {opacity: 1}
	to {opacity: .5}
}

@keyframes fade-out {
	from {opacity: 1}
	to {opacity: .5}
}

.sliders__item--fadding {
    -webkit-animation-name: fade;
	-webkit-animation-duration: 3s;
	animation-name: fade;
	animation-duration: 3s;
}

@-webkit-keyframes fade {
	from {opacity: .5}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .5}
	to {opacity: 1}
}

.sliders-flex{
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 10;
    top: 50%;
    list-style-type: none;
    overflow-x: hidden;
}

.sliders-flex li{
    display: inline-block;
    cursor: pointer;
}

/* .sliders-flex a{
    
    display: inline-block;
} */

.sliders-flex img{
    height: 60px;
    width: 30px;
}

.flex__left{
    position: absolute;
    margin-left: -30px;
    transition: transform 1s;
}

.flex__right{
    position: absolute;
    margin-left: calc(100%);
    transition: transform 1s;
}

.mainSlider:hover .flex__left {
    transform: translate3d(50px,0,0);
}

.mainSlider:hover .flex__right {
    transform: translate3d(-50px,0,0);
}

@media screen and (max-width: 1100px) {
    .sliders__caption {
        font-size: 14px;
    }

    .sliders-flex img{
        height: 30px;
        width: 15px;
    }

    .flex__left{
        margin-left: -15px;
    }
    
    .mainSlider:hover .flex__left {
        transform: translate3d(20px,0,0);
    }
    
    .mainSlider:hover .flex__right {
        transform: translate3d(-25px,0,0);
    }
    
}

.about__container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
    margin-bottom: 40px;
    border-bottom: 3px solid rgb(235, 234, 234);
}

.about__description {
    width: 70%;
    margin-bottom: 40px;
    align-self: center;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid rgb(235, 234, 234);
}

.description__title {
    text-align: center;
    font-size: 26px;
    margin: 40px 0;
}

.description__title img {
    width: 280px;
}

.description__paragraph {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 40px;
}

.about__bio{
    width: 70%;
    margin-bottom: 40px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
}



.bio__fig {
    align-self: center;
    margin: 0 20px;
}

.bio__fig img{
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.bio__story {
    align-self: center;
    margin: 20px 20px;
    text-align: justify;
}

.story__title {
    margin: 10px 0;
    text-align: left;
}

@media screen and (max-width: 1100px) {
    .about__bio {
        flex-wrap: wrap;
    }

    .bio__story {
        margin: 20px 0;
    }

    .story__title {
        text-align: center;
    }
}



.about__us {
    width: 70%;
    margin-bottom: 40px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.us__example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 20px;
}

.us__example img{
    width: 310px;
    height: 250px;
    object-fit: cover;
}

.example__title{
    text-align: center;
}

.example__paragraph{
    text-align: center;
}

.example__social {
    width: 30%;
    margin: 10px 0;
    align-self: center;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-top: 1px solid  rgb(234, 234, 234);
    border-bottom: 1px solid rgb(234, 234, 234); 

}

.example__social img {
    width: 25px;
    height: 25px;
}

.social__face {
    margin: 5px 10px;
    width: 25px;
    height: 25px;
}

.social__insta {
    margin: 5px 10px;
    width: 25px;
    height: 25px;
}

.discover__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    /* margin-bottom: 40px;
    border-bottom: 3px solid rgb(235, 234, 234); */

}

.discover__title {
    width: 80%;
    text-align: center;
    margin: 20px auto;
}

.discover__title img {
    width: 160px;
}

.discover__info {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

}

.discover__details {
    position: relative;
    width: 480px;
    margin: 10px 40px 10px 0;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
}


.details__first-question {
    margin-bottom: 2px;
    font-size: 34px;
    font-weight: 400;
    font-variant: small-caps;
}

.details__second-question {
    margin-bottom: 20px;
    font-size: 22px;
    /* font-size: 24px;  */
    /* font-weight: 400; */
    /* font-variant: small-caps; */
}

.details__paragraph {
    text-align: justify;
}

.discover__fig {
    margin: 40px 40px;
}

.discover__fig a{
    position: relative;
    display: flex;
    justify-content: center;
}
.discover__fig img{
    width: 450px;
}

@media screen and (max-width: 900px) {

    .discover__info {
        flex-wrap: wrap;
    }

    .discover__details {
        margin: 10px 0;
        width: 100%;
    }

    .details__first-question {
        text-align: center;
    }
    
    .details__second-question {
        text-align: center;
    }

    .discover__fig{
        margin: 20px 0;
        width: 100%;
    }

    .discover__fig img{
        width: 100%;
        height: auto;
    }
}

.facts-section {
    display: relative;
    width: 100%;
    height: 300px;
    background: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg);
    background-size: cover;
    margin-bottom: 40px;
}

.facts__container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

/* .facts__flex {

} */

.services__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 30px 0;

}

.services__title {
    width: 80%;
    text-align: center;
    margin: 10px 0;

}

.services__title img {
    width: 280px;
}

.services__info {
    width: 80%;
    margin: 20px 30px;
    padding: 5px;
    position: relative;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
}

.services__element {
    position: relative;
    width: 30%;
    margin: 20px 10px;
    text-align: center;
}

.services__element p {
    color: gray;
}

.element__title {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 5px 0;
}

.element__title h1 {
    text-align: center;
}


.element__title img {
    position: relative;
    margin: 0 5px;
    height:30px;
    width: auto;
    text-align: center;

}

@media screen and (max-width: 760px) {
    .services__element {
        width: 100%;
    }
}

.mind-section {
    display: relative;
    width: 100%;
    height: 300px;
    background: url(https://images.pexels.com/photos/3742711/pexels-photo-3742711.jpeg);
    background-size: cover;
    margin-bottom: 40px;
}

.mind__container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

/* .mind__flex {

} */

.contacts__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    /* border-bottom: 3px solid rgb(235, 234, 234); */
}

.contacts__title {
    width: 80%;
    text-align: center;
    margin: 20px 0;

}

.contacts__title img {
    width: 150px;
}

.contacts__info {
    width: 80%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts__direct {
    position: relative;
    margin: 10px 0;
    margin-right: 20px;
    /* text-align: justify; */
    

}

.contacts__direct ul {
    list-style-type: none;
}

.contacts__direct li {
    margin: 10px 0;
    font-weight: bold;
}

.contacts__direct span {
    color: gray;
}

.direct__paragraph {
    margin: 10px 0;
}

.contacts__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

}

.form__description{
    margin: 10px 0;
}

.contacts__form label {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 0;
    font-size: 20px;
}

.contacts__form span {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;

}

.contacts__form input {
    font-size: 18px;
    max-width: 700px;
    padding: 5px;
    border: 1px solid  rgb(234, 234, 234);

}
.contacts__form textarea {
    font-size: 18px;
    max-width: 700px;
    height: 200px;
    padding: 5px;
    border: 1px solid  rgb(234, 234, 234);
}


@media screen and (max-width: 900px) {
    .contacts__info {
        flex-wrap: wrap;
        max-width: 80%;
    }

}



.footer__container {
    background: linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(255,255,255,1) 100% );
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    /* padding: 20px 0; */
} 

.footer__top {
    position: relative;
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    margin-bottom: 20px;
}

.footer__motivation {
    width: 300px;
    margin: 0 20px;
    justify-self: flex-start;
}

.motivation__title {
    margin-bottom: 10px;
}

.footer__social {
    width: 300px;
    margin: 0 20px;
}

.social__title {
    margin-bottom: 10px;
}

.social__links {
    list-style-type: none;
}

.social__links li {
    margin: 10px 0;
}

.social__links a{
    text-decoration: none;
    color: gray;
}

.social__links a:hover{
    text-decoration: underline;
}

.footer__contacts {
    width: 300px;
    margin: 0 20px;
}

.contacts-footer__title {
    margin-bottom: 10px;
}

.footer__bottom {
    background: linear-gradient(to bottom, rgba(168, 168, 168,0) 0%, rgb(107, 107, 107) 100% );
    margin-top: 20px;
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;

}

.footer__bottom a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer__bottom a:hover{
    text-decoration: underline;
}

